body{
    background-color: rgb(162, 212, 212);
}

.state{
    display: inline-block;
    background-color: rgb(31, 123, 146);
    width: 15rem;
    margin: 1rem;
    box-shadow: 10px 10px 15px rgb(112, 140, 199);
    transition: 0.3s;
 }

 .state:hover{
    box-shadow: 10px 10px 7px rgb(112, 140, 199);
 }

 .state img{
    width:100%;
    height: 10rem;
    align-self: center;
 }



.state p{
    color:white;
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin: 0;


}
