.parkMod{
    background-color: rgb(31, 123, 146);
    width: 250px;
    position: relative;
    left: 50%;
    margin-left: -125px;
    box-shadow: 10px 10px 15px rgb(112, 140, 199);
    transition: 0.3s;
    border-radius: 10px;
    
 }

 .parkMod:hover{
    box-shadow: 10px 10px 7px rgb(112, 140, 199);
 }

 .parkMod img{
    width:100%;
    height: 10rem;
    align-self: center;
    border-radius: 10px;
 }



.parkMod p{
    color:white;
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin: 0;


}
